COMPOSE_PROJECT_NAME=htnc
COMPOSE_FILE=infra/docker/docker-compose.local.yml
TZ=Asia/Saigon

POSTGRES_HOST=localhost
POSTGRES_DB=htnc
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
POSTGRES_CONTAINER_PORT=5432
POSTGRES_DATA_DIR=/var/lib/postgresql/data/pgdata
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/htnc?schema=public

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_CONTAINER_PORT=6379
REDIS_DB=0
REDIS_URL=redis://localhost:6379/0

ADMINER_PORT=8080

WEB_PORT=3000
API_PORT=3001

APP_URL=http://localhost:3000
API_URL=http://localhost:3001
