NODE_ENV=development
PORT=3001
APP_NAME=htnc-api

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/htnc?schema=public
REDIS_URL=redis://localhost:6379

JWT_ACCESS_SECRET=change-me
JWT_REFRESH_SECRET=change-me-too
