NODE_ENV=development
PORT=3001
APP_NAME=htnc-api

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/htnc?schema=public
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=htnc
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

REDIS_URL=redis://localhost:6379/0
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

JWT_ACCESS_SECRET=change-me
JWT_REFRESH_SECRET=change-me-too
